#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.onePost{
	padding: 10px;
	margin: 0;
}

.postHead{
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin: 0;
}
.postHead h1{
	font-size: 20px;
}
.postReadMore{
	padding: 10px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	border: none;
	width: 100%;
}
.btn-post{
	padding: 10px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	border: none;
}
.postSection{
	padding: 5px 0;
	color: #555;
	font-size: 15px;
}
.authorSection{
	font-size: 15px;
	color: #999;
}
.authorSection:hover{
	color: #0099CC;
}
.postBody{
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ddd;
}
.postBody h2{
	font-size: 16px;
	padding: 0;
	margin: 0;
}
.postTitle h2{
	display: inline-block;
	vertical-align: middle;
	color: #0099CC;
	font-size: 25px;
}
.postTitle:hover h2{
	color: #33b5e5;
}


a,a:hover{
		text-decoration: none;
}

.JavaScript{
	background-color: #dbdc01;
}
.Grafika{
	background-color: #aa2f87;
}
.Java{
	background-color: #cc0101;
}
.Python{
	background-color: #5d32ea;
}
.Ruby{
	background-color: #9a0000;
}

.hidee {
  -webkit-animation: hideHZ 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation: hideHZ 0.5s;
  animation-fill-mode: forwards; }

.show {
  -webkit-animation: showHZ 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation: showHZ 0.5s;
  animation-fill-mode: forwards; }

@-webkit-keyframes hideHZ {
  100% {
    opacity: 0;
    transform: scale(0, 0); } }
@-webkit-keyframes showHZ {
  0% {
    opacity: 0;
    transform: scale(0, 0); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }
@keyframes hideHZ {
  100% {
    opacity: 0;
    transform: scale(0, 0); } }
@keyframes showHZ {
  0% {
    opacity: 0;
    transform: scale(0, 0); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }

.colbutton{
  padding: 10px 15px;
  background: #22586e;
  color: #C0D5D8;
  border: none;
	margin:0;
}
.colbutton:hover{
  background-color: #00868b;
}

#m-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    z-index:100;
    overflow:hidden;
}
#m-menu ul{
	list-style-type: none;
	padding: 0;
}
#m-menu li a{
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align:center;
  color: #33b5e5;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: background 0.1s ease-in-out;
}
#m-menu li a:hover,
#m-menu li:first-child a {
  background: #33b5e5;
  color: #fff;
}

#m-menu li .loguser{
	background-color: #dddddd;
}
#m-menu li .loguser:hover{
	background-color: #0099CC;
}

.slide_Up {
  -webkit-animation: slideUp 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation: slideUp 0.5s;
  animation-fill-mode: forwards; }

.slide_Down {
  -webkit-animation: slideDown 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation: slideDown 0.5s;
  animation-fill-mode: forwards; }

@-webkit-keyframes slideUp {
	0%{
		height: 100%;
	}
  100% {
    height: 60px;
		} }
@-webkit-keyframes slideDown {
  0% {
    height: 60px
     }
  100% {
		height: 100%;
	}}
@keyframes slideUp {
	0%{
		height: 100%;
	}
  100% {
height: 60px; } }
@keyframes slideDown {
	0% {
    height: 60px
     }
  100% {
		height: 100%; } }

		@media only screen and (max-width: 800px) {
		    #m-menu, #m-menu li a {
		        width: 100%;
		    }
		}

#post_details {
	padding: 0;
	li{
	display: inline-block;

	}
	a{
		text-decoration: none;
		color: white;
	}
}
.post_details_style{
	color: #0099CC;
}

.extended_post
{
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}


.header__profile{
	padding-top: 40px;
	background: #0099CC;
	min-height: 380px;
	color: #fff;
	font-size: 18px;
	border-bottom: 10px solid #33b5e5;
	label{
		color: #ddd;
		font-size: 10px;
	}
	a{
		color:#fff;
	}
	a:hover{
		color:#555;
	}
}
.body__profile
{
	background: #33b5e5;
	color: #fff;
	border: 1px solid #33b5e5;
	p{
		font-size: 14px;
		text-align: justify;
	}
}

.btn__edit{
	margin: 0;
	padding: 0;
	button{
		width: 100%;
		border-radius:0;
		font-size: 20px;
		font-weight: 400;
	}
}

.body__skill{
	background: #fff;
	margin: 0;
	p{
		color: #444;
	}
	label{
		color: #555;
	}
}
#accExp{
	font-size: 50px;
	font-weight: 400;
}

.singin__block-img{
	background: #33b5e5;
	height: 100%;
	opacity: 0.7;
	margin: 0;
	padding: 0;
	position: relative;
}
.text{
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	.corder{
		padding-top: 140px;
		h1{
			font-size: 62px;
			font-weight: 400;
			letter-spacing: 10px;
		}
		p{
			font-size: 13px;
		}
	}
}
.singin__block-info{
	background-image: url("../images/mount.jpg");
	background-size: cover;
	height: 400px;
	padding: 0;
}
.singin__block-input{
	padding-top: 80px;
	.form-control{
		border-top: none;
		border-left: none;
		border-right: none;
		border-radius: 0;
		margin: 15px 0;
		box-shadow: none;
	}
	h1{
		font-size: 32px;
		font-weight: 400;
		letter-spacing: 10px;
		color: #aaa;
	}
	input{
		font-weight: 400;
		letter-spacing: 5px;
	}
	input:focus{
		border-width: 2px;
	}
	input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
}
.singin__block-newUs{
	a{
	color: #aaa;
	letter-spacing: 3px;
	font-weight: 400;
	font-size: 10px;
	margin-top: 10px;
	}
	a:hover{
		color: #33b5e5;
	}
}
.register__block{

	h1{
		font-size: 32px;
		font-weight: 400;
		letter-spacing: 10px;
	}
	input{
		font-weight: 400;
		letter-spacing: 5px;
		font-size: 12px;
		border-top: none;
		border-left: none;
		border-right: none;
		border-radius: 0;
		margin: 7px 0;
		box-shadow: none;
	}
	input:focus{
		border-width: 2px;
		box-shadow: none;
	}
	input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 30px white inset;
	}
}
.checkbox input[type="checkbox"]{
	position: static;
	background: black;

}
.xx{
	font-weight: 400;
	color: #aaa;
	letter-spacing: 2px;
	margin-left: 5px;
	font-size: 11px;
}
.text__bcg{
	background: #33b5e5;
	padding: 10px;
	color: #fff;
	margin-bottom: 20px;
}
.btn{
	border-radius: 0;
}
