 <div class="container" >
  <div class="col-md-8 singin__block-info">
    <div class="singin__block-img">

    </div>
    <div class="text">
      <div class="text-center corder">
        <h1>Code.me</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

  </div>
  <div class="col-md-4 singin__block">
    <div class="singin__block-newUs">
    <a href="/rejestracja"><span class="glyphicon glyphicon-edit" ></span> Załóż konto</a>
    </div>
    <div class="singin__block-input">
    <h1 class="text-center">zaloguj się</h1>
    <form action="/zaloguj" method="POST">
          <div class="col-md-12">
              <label for="nickInput" class="sr-only">Wprowadź email w celu logowania</label>
              <input id="nickInput" class="form-control" type="text" value="{{form.email}}" placeholder="e-mail" name="email">
        </div>
            <div class="col-md-12">
               <label for="passwordInput" class="sr-only">Wprowadź Hasło w celu logowania</label>
                <input id="passwordInput" class="form-control" type="password" placeholder="hasło" name="password">
          </div>
          <div class="form-group row text-center">
              <div class="col-md-">
                <label for="siginBtn" class="sr-only">Przycisk Zaloguj się</label>
                  <button id="siginBtn" class="btn btn-info" type="submit">Zaloguj się</button>
              </div>
          </div>
        </form>
        </div>
      </div>
  </div>
